@model EntityLayer.Concrete.Table

@{
    ViewData["Title"] = "AddTable";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>INSPINIA | Basic Form</title>

    <link href="/admin/css/bootstrap.min.css" rel="stylesheet">
    <link href="/admin/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="/admin/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="/admin/css/animate.css" rel="stylesheet">
    <link href="/admin/css/style.css" rel="stylesheet">

    <link href="/admin/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">

</head>

<body>

    <div id="wrapper">

        <div class="gray-bg">

            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox ">
                        <div class="row wrapper border-bottom white-bg page-heading">
                            <div class="col-lg-10">
                                <h2>Masa Ekleme Sayfası</h2>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a href="index.html">Home</a>
                                    </li>
                                    <li class="breadcrumb-item">
                                        <a>Table</a>
                                    </li>
                                    <li class="breadcrumb-item">
                                        <a>Index</a>
                                    </li>
                                    <li class="breadcrumb-item active">
                                        <strong>Add Table</strong>
                                    </li>
                                </ol>
                            </div>
                            <div class="col-lg-2">

                            </div>
                        </div>
                        <div class="ibox-content">
                            @using (Html.BeginForm("AddTable", "Table", FormMethod.Post))
                            {
                                <div class="form-group  row">
                                    <label class="col-sm-2 col-form-label">TableNumber</label>

                                    <div class="col-sm-10">@Html.TextBoxFor(x => x.TableNumber, new { @class = "form-control" })</div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group  row">
                                    <label class="col-sm-2 col-form-label">NumberOfChair</label>

                                    <div class="col-sm-10">@Html.TextBoxFor(x => x.NumberOfChair, new { @class = "form-control" })</div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group  row">
                                    <label class="col-sm-2 col-form-label">Section</label>

                                    <div class="col-sm-10">@Html.DropDownListFor(x => x.SectionId, (IEnumerable<SelectListItem>)ViewBag.sv, new { @class = "form-control" })</div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group  row">
                                    <label class="col-sm-2 col-form-label">Branch</label>

                                    <div class="col-sm-10">@Html.DropDownListFor(x => x.BranchId, (IEnumerable<SelectListItem>)ViewBag.bv, new { @class = "form-control" })</div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group  row">
                                    <label class="col-sm-2 col-form-label">User</label>

                                    <div class="col-sm-10">@Html.DropDownListFor(x => x.UserId, (IEnumerable<SelectListItem>)ViewBag.uv, new { @class = "form-control" })</div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group  row">
                                    <label class="col-sm-2 col-form-label">Status</label>

                                    <div class="col-sm-10">@Html.TextBoxFor(x => x.Status, new { @class = "form-control" })</div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <button type="submit" class="btn btn-primary submit mb-4">Ekle</button>}
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>



    <!-- Mainly scripts -->
    <script src="/admin/js/jquery-3.1.1.min.js"></script>
    <script src="/admin/js/popper.min.js"></script>
    <script src="/admin/js/bootstrap.js"></script>
    <script src="/admin/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="/admin/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="/admin/js/inspinia.js"></script>
    <script src="/admin/js/plugins/pace/pace.min.js"></script>

    <!-- iCheck -->
    <script src="/admin/js/plugins/iCheck/icheck.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });</script>
</body>

</html>
